body {
    font-family: "Courier", "Tahoma", monospace;
    color: #696969;
    padding: 1%;
}

ul.rows {
    list-style-type: none;
}

ul > li {
    padding-bottom: 5px;
}

h1 {
    font-size: 1.125em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.8775em;
}

h4 {
    font-size: 0.84em;
}

h5 {
    font-size: 0.6225em;
}

h6 {
    font-size: 0.5625em;
}

pre.code {
    margin-left: 2%;
    padding: 1%;
    display: block;
    background-color: rgba(227, 227, 235, 0.52);
    border-left: 10px solid #D9D9D9;
}

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.row {
    padding-left: 2%;
}
.row table {
    width: 96%;
}
.row table td {
    padding: 1%;
    border-bottom: 1px solid #d9d9d9;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

table.one_row_first_col tr td:first-child{
    white-space:nowrap;
}
.preview {
    width: 45%;
}
.col_30 {
    width: 28%;
}

.wrapper p {
    margin-bottom: 15px;
}
